<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Valley PS</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

<section class="colored-section" id="title">

    <div class="container-fluid" style="padding-bottom: 0px;">


      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="">Valley Prototyping Solutions</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/youtubeStream">Stream1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stream">Stream2</a>
            </li>
          </ul>

        </div>


      </nav>




      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Don't Invent Alone</h1>
          <!-- <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button> -->
        </div>

        <!-- <div class="col-lg-6">
          <img class="title-image" src="images/iphone6.png" alt="iphone-mockup">
        </div> -->

      </div>

    </div>
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <!-- <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
          <img class="testimonial-image" src="images/frog meditation.png" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div> -->
<!-- 
        <div class="carousel-item">
          <img src="images/VPS Final Logo.jpeg" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
          </div>
        </div>

        <div class="carousel-item item">
          <img src="images/VPS Final Logo.jpeg" alt="New York">
        </div> -->

        <div class="carousel-item active container-fluid">
          <img class="d-block w-100" src="images/VPS Final Logo.jpeg" alt="dog-profile">
        </div>

        <div class="carousel-item container-fluid" height="400">
          <img class="" src="images/shea_logo.png" alt="dog-profile" height="200" width="200">
        </div>

        <div class="carousel-item container-fluid">
          <img class="" src="images/shea_logo.png" alt="dog-profile" height="200" width="200">
        </div>

        <!-- <div class="carousel-item active container-fluid">
          <img class="d-block w-100" src="images/shea_logo.png" alt="dog-profile2">
        </div> -->

        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
          <img class="testimonial-image" src="images/shea_logo.png" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>